{% extends "base.html" %}

{% block title %}Чат{% end %}

{% block js%}
	<script type="text/javascript">
		var chat_room = '{{ chat_room }}';
		var chat_user = '{{ user }}';
	</script>
	<script src="/static/js/chat.js" type="text/javascript"></script>
{% end %}

{% block login_status %}
<span>Вы вошли в систему как {{ user }}</span>
{% end %}

{% block content %}
<div id="chat_area">
	<div id="chat_window">
	</div>
	<div id="users_online">
		<ul>
			{% for row in users %}
			<li><span>{{ row.name }}</span></li>
			{% end %}
		</ul>
	</div>
</div>
<div id="msg_area">
	<input id="message_input" type="text" name="message" value=""><a id="message_send" href="#">send</a>
</div>
{% end %}


